<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buyerologie.trade.dao.TradeOrderDao">
  <resultMap id="BaseResultMap" type="com.buyerologie.trade.model.TradeOrder">
    <id column="ORDER_NUMBER" jdbcType="BIGINT" property="orderNumber" />
    <result column="BUYER_ID" jdbcType="BIGINT" property="buyerId" />
    <result column="IS_CANCEL" jdbcType="TINYINT" property="isCancel" />
    <result column="TOTAL_PRICE" jdbcType="DOUBLE" property="totalPrice" />
    <result column="ACTUAL_PRICE" jdbcType="DOUBLE" property="actualPrice" />
    <result column="PRODUCT_ID" jdbcType="INTEGER" property="productId" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName" />
    <result column="OUT_BUYER_ID" jdbcType="VARCHAR" property="outBuyerId" />
    <result column="OUT_BUYER_ACCOUNT" jdbcType="VARCHAR" property="outBuyerAccount" />
    <result column="OUT_PAY_ORDER_NUMBER" jdbcType="VARCHAR" property="outPayOrderNumber" />
    <result column="PAID_TIME" jdbcType="TIMESTAMP" property="paidTime" />
    <result column="PAY_TYPE" jdbcType="SMALLINT" property="payType" />
    <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>

  <select id="selectById" parameterType="long" resultMap="BaseResultMap">
    select *
    from trade_order
    where ORDER_NUMBER = #{orderNumber,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="long">
    delete from trade_order
    where ORDER_NUMBER = #{orderNumber,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.buyerologie.trade.model.TradeOrder">
    insert into trade_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNumber != null">
        ORDER_NUMBER,
      </if>
      <if test="buyerId != null">
        BUYER_ID,
      </if>
      <if test="isCancel != null">
        IS_CANCEL,
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE,
      </if>
      <if test="actualPrice != null">
        ACTUAL_PRICE,
      </if>
      <if test="outBuyerId != null">
        OUT_BUYER_ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="productName != null">
        PRODUCT_NAME,
      </if>
      <if test="outBuyerAccount != null">
        OUT_BUYER_ACCOUNT,
      </if>
      <if test="outPayOrderNumber != null">
        OUT_PAY_ORDER_NUMBER,
      </if>
      <if test="paidTime != null">
        PAID_TIME,
      </if>
      <if test="payType != null">
        PAY_TYPE,
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED,
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="isCancel != null">
        #{isCancel,jdbcType=TINYINT},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="actualPrice != null">
        #{actualPrice,jdbcType=DOUBLE},
      </if>
      <if test="outBuyerId != null">
        #{outBuyerId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId},
      </if>
      <if test="productName != null">
        #{productName},
      </if>
      <if test="outBuyerAccount != null">
        #{outBuyerAccount,jdbcType=VARCHAR},
      </if>
      <if test="outPayOrderNumber != null">
        #{outPayOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="paidTime != null">
        #{paidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=SMALLINT},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.buyerologie.trade.model.TradeOrder">
    update trade_order
    <set>
      <if test="buyerId != null">
        BUYER_ID = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="isCancel != null">
        IS_CANCEL = #{isCancel,jdbcType=TINYINT},
      </if>
      <if test="totalPrice != null">
        TOTAL_PRICE = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="actualPrice != null">
        ACTUAL_PRICE = #{actualPrice,jdbcType=DOUBLE},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId},
      </if>
      <if test="productName != null">
        PRODUCT_NAME = #{productName},
      </if>
      <if test="outBuyerId != null">
        OUT_BUYER_ID = #{outBuyerId,jdbcType=VARCHAR},
      </if>
      <if test="outBuyerAccount != null">
        OUT_BUYER_ACCOUNT = #{outBuyerAccount,jdbcType=VARCHAR},
      </if>
      <if test="outPayOrderNumber != null">
        OUT_PAY_ORDER_NUMBER = #{outPayOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="paidTime != null">
        PAID_TIME = #{paidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null">
        PAY_TYPE = #{payType,jdbcType=SMALLINT},
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDER_NUMBER = #{orderNumber,jdbcType=BIGINT}
  </update>
  
  

  <select id="selectAllByLimit" parameterType="long" resultMap="BaseResultMap">
    select *
    from trade_order
    <if test="start >= 0">
    	<if test="limit > 0">
    		limit ${start},${limit}
    	</if>
    </if>
  </select>

  <select id="selectWaitForPayByLimit" parameterType="long" resultMap="BaseResultMap">
    SELECT *
	FROM trade_order
	WHERE PAID_TIME IS NULL AND IS_CANCEL = FALSE
    <if test="start >= 0">
    	<if test="limit > 0">
    		limit ${start},${limit}
    	</if>
    </if>
  </select>

  <select id="selectPaidOrdersByLimit" parameterType="long" resultMap="BaseResultMap">
    SELECT *
	FROM trade_order
	WHERE PAID_TIME IS NOT NULL AND IS_CANCEL = FALSE
    <if test="start >= 0">
    	<if test="limit > 0">
    		limit ${start},${limit}
    	</if>
    </if>
  </select>

  <select id="selectCanceledByLimit" parameterType="long" resultMap="BaseResultMap">
    SELECT *
	FROM trade_order
	WHERE IS_CANCEL = TRUE
    <if test="start >= 0">
    	<if test="limit > 0">
    		limit ${start},${limit}
    	</if>
    </if>
  </select>
  
  <select id="countAll"  resultType="int">
    SELECT count(1)
	FROM trade_order
  </select>
  
  <select id="countWaitForPay"  resultType="int">
    SELECT count(1)
	FROM trade_order
	WHERE PAID_TIME IS NULL AND IS_CANCEL = FALSE
  </select>
  <select id="countPaidOrders"  resultType="int">
    SELECT count(1)
	FROM trade_order
	WHERE PAID_TIME IS NOT NULL AND IS_CANCEL = FALSE
  </select>
  <select id="countCanceled"  resultType="int">
    SELECT count(1)
	FROM trade_order
	WHERE IS_CANCEL = TRUE
  </select>
  
  
  <select id="selectByBuyerId" parameterType="long" resultMap="BaseResultMap">
    SELECT *
	FROM trade_order
	WHERE BUYER_ID = #{buyerId}
  </select>
  
</mapper>