<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buyerologie.user.dao.UserBroadcastRecordDao">
  <resultMap id="BaseResultMap" type="com.buyerologie.user.model.UserBroadcastRecord">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="VIDEO_ID" jdbcType="VARCHAR" property="videoId" />
    <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from user_broadcast_record
    where ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.buyerologie.user.model.UserBroadcastRecord">
    insert into user_broadcast_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="videoId != null">
        VIDEO_ID,
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED,
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.buyerologie.user.model.UserBroadcastRecord">
    update user_broadcast_record
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="videoId != null">
        VIDEO_ID = #{videoId},
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from user_broadcast_record
    where ID = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select *
    from user_broadcast_record
    where USER_ID = #{userId,jdbcType=BIGINT}
  </select>
</mapper>