<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buyerologie.user.dao.VipDetailDao">
  <resultMap id="BaseResultMap" type="com.buyerologie.user.model.VipDetail">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="SOURCE_ORDER" jdbcType="VARCHAR" property="sourceOrder" />
    <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from vip_detail
    where USER_ID = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from vip_detail
    where USER_ID = #{userId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.buyerologie.user.model.VipDetail" useGeneratedKeys="true" keyProperty="id">
    insert into vip_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="sourceOrder != null">
        SOURCE_ORDER,
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED,
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceOrder != null">
        #{sourceOrder,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.buyerologie.user.model.VipDetail">
    update vip_detail
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceOrder != null">
        SOURCE_ORDER = #{sourceOrder,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectBySourceOrder" parameterType="string" resultMap="BaseResultMap">
  	select *
    from vip_detail
    where SOURCE_ORDER = #{sourceOrder,jdbcType=VARCHAR}
  </select>
  
  <select id="selectLastByUserId" parameterType="int" resultMap="BaseResultMap">
  	select *
    from vip_detail
    where USER_ID = #{userId}
    order by ID desc
    LIMIT 1
  </select>
  
  <select id="selectByLimit" parameterType="int" resultMap="BaseResultMap">
  	SELECT *
	FROM vip_detail
	WHERE id IN (
			SELECT
				MAX(ID)
			FROM
				vip_detail
			GROUP BY
				USER_ID
		)
	<if test="start >= 0">
		<if test="limit > 0">
			limit ${start}, ${limit}
		</if>
	</if>
  </select>
  
  <select id="countUserNum" resultType="int">
  	SELECT count(DISTINCT (USER_ID))
	FROM vip_detail
  </select>
</mapper>