<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buyerologie.trade.dao.VipProductDao">
  <resultMap id="BaseResultMap" type="com.buyerologie.trade.model.VipProduct">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PRICE" jdbcType="DOUBLE" property="price" />
    <result column="AVAILABLE_DAYS" jdbcType="SMALLINT" property="availableDays" />
    <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="DESCRIPTION" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, NAME, PRICE, AVAILABLE_DAYS, DESCRIPTION, GMT_CREATED, GMT_MODIFIED
  </sql>
  
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from vip_product
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.buyerologie.trade.model.VipProduct">
    insert into vip_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="availableDays != null">
        AVAILABLE_DAYS,
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED,
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="availableDays != null">
        #{availableDays,jdbcType=SMALLINT},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.buyerologie.trade.model.VipProduct">
    update vip_product
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DOUBLE},
      </if>
      <if test="availableDays != null">
        AVAILABLE_DAYS = #{availableDays,jdbcType=SMALLINT},
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vip_product
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from vip_product
  </select>
  
</mapper>